.profile-form {
    .left-item {
        padding-right: 15px;
    }

    .right-item {
        padding-left: 15px;
    }

    .button-space {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}