.register-container {
    .form-container {
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .register-success-alert {
            margin-bottom: 10px;
        }

        .form-title {
            font-size: 28px;
            text-align: center;
            font-weight: 800;
            margin-bottom: 25px;
        }

        .register-card {
            box-shadow: 0 0 10px lighten(#000, 60%);
        }

        .register-form {
            width: 30vw;
        }
    }
    
    .ant-form-item-label {
        display: flex !important;
        justify-content: start !important;
    }

    .ant-form-item-explain-error {
        text-align: start;
    }
}
