.home-component-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 5px;
}

.title-underline {
    height: 5px;
    background-color: #000000;
    margin-bottom: 50px;
    border-radius: 10px;
}
