.home-component-title {
    margin-top: 30px;
    font-family: 'ProximaSoftBold';
    font-size: 48px;
    font-weight: 900;
    color: #183153;
    margin-bottom: 5px;
}

.title-underline {
    height: 5px;
    background-color: #183153;
    margin-bottom: 50px;
    border-radius: 10px;
}
