.app-base {
    display: flex;
    flex-direction: row;
}

.site_layout {
}

.app-header {
    padding: 0 20px !important;
    background-color: #ffffff !important;
    display: flex;
    align-items: center;
}

.app-header .user-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.app-content {
    min-height: 1000px !important;
}

.trigger-icon {
    font-size: 24px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger-icon:hover {
    color: #1890ff;
}

.app-sider .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
    margin-bottom: 35px;
}

.app-sider {
    position: fixed;
    top: 0px;
}

.app-footer {
    height: 50px;
    background-color: #57647E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.footer-content  {
    position: relative;
    display: flex;
}

.footer-icon {
    position: absolute;
    font-size: 20px !important;
    bottom: 0;
}
