.row-info-course-card {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-top: 2px solid #b2b8be;
    border-left: 2px solid #b2b8be;
    border-right: 2px solid #b2b8be;
    font-size: 18px;
}