.App {}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.justify-content-start {
  display: flex;
  justify-content: flex-start;
}

.justify-content-end {
  display: flex;
  justify-content: flex-end;
}

.ant-layout {
  background: #FFFFFF;
}
